@layout GameStateHub
@*@page "/game/battle/"*@
@page "/"
@using MudBlazor.Battleship.Helper

<MudGrid>
    <MudItem xs="6">
        <MudPaper Elevation=0 Height="100%">
            <div class="px-5 py-3 mb-2  battleship-lobby-card-header">
                <MudText Typo="Typo.h5">Player 1</MudText>
            </div>
            <div class="d-flex justify-center align-center pa-4">
                <div class="wrapper">
                    <div class="grid-labels grid-axis-x">
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="grid-item">@Converter.GetColumnLabel(i)</div>
                        }
                    </div>
                    <div class="grid-labels grid-axis-y">
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="grid-item">@Converter.GetRowLabel(i)</div>
                        }
                    </div>
                    <div class="battle-grid">
                        @for (int i = 0; i < 100; i++)
                        {
                            <div class="grid-item mud-ripple">@i</div>
                        }
                    </div>
                </div>
            </div>
        </MudPaper>
    </MudItem>
     <MudItem xs="6">
            <MudPaper Elevation=0 Height="100%">
              <div class="px-5 py-3 mb-2  battleship-lobby-card-header">
                    <MudText Typo="Typo.h5">Player 1</MudText>
                </div>
                <div class="d-flex justify-center align-center pa-4">
                    <div class="wrapper">
                        <div class="grid-labels grid-axis-x">
                            @for (int i = 0; i < 10; i++)
                            {
                                <div class="grid-item">@Converter.GetColumnLabel(i)</div>
                            }
                        </div>
                        <div class="grid-labels grid-axis-y">
                            @for (int i = 0; i < 10; i++)
                            {
                                <div class="grid-item">@Converter.GetRowLabel(i)</div>
                            }
                        </div>
                        <div class="battle-grid">
                            @for (int i = 0; i < 100; i++)
                            {
                                <div class="grid-item mud-ripple">@i</div>
                            }
                        </div>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
</MudGrid>