@layout GameStateHub
@page "/game/lobby"


@if(Game.isSignedIn)
{
    <MudGrid>
        <MudItem xs="12" sm="12" md="3" Class="py-0">
            <MudButton OnClick="OnButtonClickNewLobby" Color="Color.Primary" Class="mb-7">New Lobby</MudButton>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" Class="py-0">
            @if (isAddNewLobby)
            {
                <MudForm @bind-IsValid="@isValidNewLobby" Class="d-flex align-start justify-space-between">
                    <MudTooltip Text="Password Protected">
                        <MudToggleIconButton @bind-Toggled="@NewGameLobby.Private" Variant="Variant.Outlined" Icon="@Icons.Outlined.LockOpen" Color="@Color.Default" Title="Open" ToggledIcon="@Icons.Outlined.Lock" ToggledColor="@Color.Primary" ToggledTitle="Private" />
                    </MudTooltip>
                    <MudTextField @bind-Value="@NewGameLobby.Name" Validation="@(new Func<string, IEnumerable<string>>(FieldValidation))" Required="true" Placeholder="Name" Counter="12" HelperText="Lobby Name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="ml-4 mr-2 my-0" />
                    <MudTextField @bind-Value="@NewGameLobby.Password" Validation="@(new Func<string, IEnumerable<string>>(FieldValidation))" Required="NewGameLobby.Private" Placeholder="Password" Counter="12" HelperText="Lobby Password" Variant="Variant.Outlined" Margin="Margin.Dense" Class="@(NewGameLobby.Private? "ml-2 mr-4 my-0 visible" : "ml-2 mr-4 my-0 invisible")"/>
                    <MudButton OnClick="SendNewLobby" Disabled="!isValidNewLobby" V Color="Color.Primary">Create Lobby</MudButton>
                </MudForm>
            }
        </MudItem>
        <MudItem xs="12" sm="12" md="3" Class="py-0">
            
        </MudItem>
        <MudItem xs="12" sm="12" md="3">
            <MudPaper MinHeight="50vh" Height="100%" Elevation="0" Class="pb-4">
                <div class="px-5 py-3 mb-2 battleship-lobby-card-header">
                    <MudText Typo="Typo.h5">@Game.CurrentUser.Username</MudText>
                </div>
                <MudGrid Spacing="0">
                    <UserStatsCard UserStats="@(new UserStats("Rank", 20, "Top 31%"))" />
                    <UserStatsCard UserStats="@(new UserStats("Games", 440, "Top 18%"))" />
                    <UserStatsCard UserStats="@(new UserStats("Wins", 121, "Top 33%"))" />
                    <UserStatsCard UserStats="@(new UserStats("Win %", 60, "Top 18%"))" />
                </MudGrid>
                @*@foreach(var users in GameMode.GetUsers())
                {
                    <MudText>@users.Name;</MudText>
                    <MudText>@users.ConnectionId;</MudText>
                }*@
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6">
            <MudPaper Elevation=0 Height="100%" Class="d-flex flex-column">
                <MudTable Height="100%" Class="flex-grow-1" Elevation="0" Items="@_lobbys" Hover="true" RowClass="cursor-pointer" @bind-SelectedItem="@SelectedGameLobby">
                    <HeaderContent>
                        <MudTh>MAC</MudTh>
                        <MudTh>Lobby Name</MudTh>
                        <MudTh>Players</MudTh>
                        <MudTh colspan="2">Status</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTh>
                            <MudTooltip Arrow="true" Text="MudBlazor Anti-Cheat" Placement="Placement.Left">
                                <MudIcon Icon="@Icons.TwoTone.VerifiedUser" Color="Color.Success" />
                            </MudTooltip>                    
                        </MudTh>
                        <MudTd>@context.Name</MudTd>
                        <MudTd>@context.Players.Count() / 2</MudTd>
                        <MudTd>In Lobby</MudTd>
                        <MudTd Style="text-align: right;">
                            @if(context.Private)
                            {
                                 <MudTooltip Arrow="true" Text="Password Protected" Placement="Placement.Right">
                                    <MudIcon Icon="@Icons.Outlined.Lock" />
                                </MudTooltip>      
                            }
                        </MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        <MudPaper MinHeight="50vh" Height="100%" Elevation="0" Class="pa-4 d-flex align-center justify-center">
                            <MudText Typo="Typo.h5">No Hosted Lobbys</MudText>
                        </MudPaper>
                    </NoRecordsContent>
                </MudTable>
                <MudToolBar>
                    <MudButton OnClick="JoinLobby" Disabled="@(SelectedGameLobby == null? true : false)" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary">Join Lobby</MudButton>
                </MudToolBar>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="3">
            <Chat Title="Chat" Messages="_messages"/>
        </MudItem>
    </MudGrid>    
}


@code {
    public IEnumerable<string> FieldValidation(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && 12 < ch?.Length)
            yield return "Max 12 characters";
        else if (!string.IsNullOrEmpty(ch) && 4 > ch?.Length)
            yield return "Min 4 characters";
    }
}